.php-cs-fixer.cache
.phpunit.result.cache

/.idea
/var
/build
/vendor
.env
/tests/Resources/var/*
/bin/.idea
/bin/__pycache__
/bin/manager/__pycache__
/bin/config/__pycache__
/bin/typed_property/__pycache__
/venv/
