parameters:
    paths:
        - src
        - tests
    excludePaths:
        - tests/Resources/*
        - tests/Functionality/EntityToDto/Dto/*
        - tests/Functionality/DtoToEntity/Relation/OnlyRelation/Dto/*
        - tests/Functionality/DtoToEntity/Relation/WeakObject/Dto/*
        - tests/Functionality/DtoToEntity/Edit/Dto/*
        - tests/Functionality/DtoToEntity/Create/Dto/*
    level: max
    bootstrapFiles:
        - phpstan.bootstrap.php
includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/ekino/phpstan-banned-code/extension.neon